.nav {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: transparent;
  }
  
  .navList {
    display: flex;
    list-style: none;
    /* gap: var(--spacing-xxl); */
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    justify-content: center;
  }
  
  .navList li {
    text-decoration: none;
    /* color: hsl(var(--text-dark));
    font-weight: 400;
    padding: var(--spacing-sm) 0; */
    transition: transform 0.4s cubic-bezier(0.4,0,0.2,1);
    padding: var(--spacing-sm) 0;
    transform: translateY(0);
    font-size: 0.7rem;
    font-weight: 60;
  }
  
  .navList li:hover {
    /* color: hsl(var(--primary-blue)); */
    transform: translateY(-5px);
  } 

  .menuItem {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .menuItem.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  
  .menuLink {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
    color: black;
  }
  
  .menuLink:hover {
    color: black;
  }
  
  .menuItem.active .menuLink {
    transform: translateY(-5px);
    color: black;
    border-radius: 8px;
    background: rgba(0,0,0,0.05);
  }
  