.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
/* .container {
    width: 100vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
  } */
  
  .backgroundVideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
  }

.aboutContent {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
    padding: var(--spacing-2xl);
    font-family: 'Roboto', sans-serif;
}

.sectionTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #2c27be;
    margin-bottom: var(--spacing-xl);
}

.aboutTitle {
    width: 100%;
    height: 100%;

}

.aboutDescription {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-lg);
    line-height: 1.8;
    color: hsl(var(--text-medium));
    margin-bottom: var(--spacing-3xl);
}

.aboutLinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    justify-content: flex-start;
    min-width: 300px;
    padding-left: 2rem;
}

.aboutLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-xl);
    background-color: hsl(var(--light-blue));
    border: 2px solid #000;
    border-radius: 50px;
    text-decoration: none;
    color: hsl(var(--text-dark));
    transition: background-color 0.3s, transform 0.5s, border-color 0.5s;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.aboutLink:hover {
    background-color: hsl(var(--accent-blue));
    transform: translateX(4px);
    border-color: #000;
    
}

.linkTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 1rem;
}

.linkArrow {
    font-family: 'Roboto', sans-serif;
    color: hsl(var(--primary-blue));
    font-weight: 600;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .aboutContent {
        flex-direction: column;
        padding: var(--spacing-lg);
        gap: 3rem;
    }

    .aboutTitle, .aboutLinks {
        width: 100%;
        min-width: 100%;
        padding: 0;
    }

    .aboutTitle {
        margin-bottom: 2rem;
    }
}